.radioGroup {
  padding: 0 5px;
}

.tokenList {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.noTokens {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 3px;
}

.quotaForm {
  max-width: 550px;
}
