.generalTabContainer {
  container-type: inline-size;
  contain: layout;
}

.generalTab {
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(max-content, 500px) minmax(max-content, 750px);
  gap: 10px;
  align-items: start;

  @container (max-width: 786px) {
    grid-template-columns: 1fr;

    .alertMessageSettings {
      order: -1;
    }
  }
}
