.clipboardControl {
  overflow: hidden;

  max-width: 500px;
  padding-left: 12px;

  font-size: var(--vkui--font_text--font_size--compact);
  color: var(--vkui--color_icon_secondary);

  background-color: var(--vkui--color_field_background);
  border-radius: var(--vkui--size_border_radius--regular);
}

.clipboardText {
  color: var(--vkui--color_text_primary);
}

.getClipboardButton {
  width: 36px;
  height: 36px;
  padding: 0 7px;
  color: currentcolor;
}
