.dashboardTabContainer {
  container-type: inline-size;
  contain: layout;
}

.dashboardTab {
  overflow: hidden;
  display: grid;
  grid-template:
    'deviceButtons deviceBooking'
    'deviceButtons remoteDebug'
    'deviceButtons linkOpener'
    'appUpload shell'
    'appUpload shell'
    'clipboard shell' / minmax(400px, 1fr) 1fr;
  gap: 10px;

  @container (max-width: 620px) {
    grid-template:
      'deviceButtons'
      'shell'
      'linkOpener'
      'clipboard'
      'deviceBooking'
      'appUpload'
      'remoteDebug' / minmax(400px, auto);
  }
}

.deviceButtons {
  grid-area: deviceButtons;
}

.appUpload {
  grid-area: appUpload;
  align-self: start;
}

.linkOpener {
  grid-area: linkOpener;
}

.shell {
  grid-area: shell;
  align-self: start;
}

.clipboard {
  grid-area: clipboard;
}

.deviceBooking {
  grid-area: deviceBooking;
}

.remoteDebug {
  grid-area: remoteDebug;
}
