.teamItem {
  background: var(--vkui--color_background_tertiary_alpha);
  border: 1px solid var(--vkui--color_image_border_alpha);
  border-radius: var(--vkui--size_border_radius--regular);
}

.readyIcon {
  position: relative;
  top: 2px;
  color: var(--vkui--color_text_secondary);

  &:hover {
    color: var(--vkui--color_text_positive);
  }
}
