.split {
  overflow: hidden auto;
  display: flex;
  height: 100%;

  :global(.gutter) {
    background: var(--vkui--color_separator_primary);
  }

  :global(.gutter-horizontal) {
    cursor: ew-resize;
  }
}
