.widget-container.device-stats
  .col-xs-3
    .number.color-blue
      include ../../icons/28/devices_icon.svg
      span(class='counter', data-type='total') 0
    .text(translate) Total Devices
  .col-xs-3
    .number.color-green
      include ../../icons/28/available_device_icon.svg
      span(class='counter', data-type='usable') 0
    .text(translate) Usable Devices
  .col-xs-3
    .number.color-pink
      include ../../icons/28/users_icon.svg
      span(class='counter', data-type='busy') 0
    .text(translate) Busy Devices
  .col-xs-3
    .number.color-orange
      include ../../icons/28/user_icon.svg
      span(class='counter', data-type='using') 0
    .text(ng-bind='currentUser.name')
