.interact-control.fill-height.as-table.stf-device-control(ng-controller='DeviceControlCtrl', data-ng-init="init()")
  .as-cell.fill-height
    .as-table.fill-height
      .stf-vnc-navbar.as-row(ng-show='!$root.basicMode && !$root.standalone')
        .stf-vnc-control-header.as-cell
          .stf-vnc-right-buttons.pull-right
            .btn-group
              label.btn-sm.btn-primary-outline(type='button', ng-click='tryToRotate("portrait")', ng-hide='device.platform === "tvOS"',
              ng-model='currentRotation', uib-btn-radio='"portrait"',
              uib-tooltip='{{ "Portrait" | translate }} ({{ "Current rotation:" | translate }} {{ device.display.rotation }}°)', tooltip-placement='bottom').pointer
                i.fa.fa-mobile
              label.btn-sm.btn-primary-outline(type='button', ng-click='tryToRotate("landscape")', ng-hide='device.platform === "tvOS"',
                ng-model='currentRotation', uib-btn-radio='"landscape"',
              uib-tooltip='{{ "Landscape" | translate }} ({{ "Current rotation:" | translate }} {{ device.display.rotation }}°)', tooltip-placement='bottom').pointer
                i.fa.fa-mobile.fa-rotate-90
            .button-spacer
            button(type='button', ng-hide='device.ios', ng-click='changeQuality(20)', uib-tooltip='{{"Change to low quality"|translate}}', tooltip-placement='bottom').btn.btn-sm.btn-info
              i.fa.fa-minus-square-o
            button(type='button', ng-hide='device.ios', ng-click='changeQuality(80)', uib-tooltip='{{"Change to high quality"|translate}}', tooltip-placement='bottom').btn.btn-sm.btn-info
              i.fa.fa-plus-square-o
            button(type='button', ng-click='kickDevice(device); $event.stopPropagation()', uib-tooltip='{{"Stop Using"|translate}}', tooltip-placement='bottom').btn.btn-sm.btn-danger-outline
              i.fa.fa-times

          .device-name-container.pull-left(uib-dropdown)
            a.stf-vnc-device-name.pointer.unselectable(uib-dropdown-toggle)
              p
                .device-small-image
                  img(ng-src='/static/app/devices/icon/x24/{{ device.image || "_default.svg" }}')
                span.device-name-text(ng-if='!device.ios') {{device.manufacturer + ' ' + device.marketName}}
                span.device-name-text(ng-if='device.ios') {{device.model}}

      .as-row.fill-height
        div(ng-controller='DeviceScreenCtrl', ng-if='device').as-cell.fill-height
          div(ng-file-drop='installFile($files)', ng-file-drag-over-class='dragover').fill-height
            device-context-menu(device='device', control='control')
              device-screen(id='device_screen', device='device', control='control')

      .stf-vnc-bottom.as-row(ng-hide='$root.standalone')
        .controls.as-cell
          .btn-group.btn-group-justified(ng-if='!device.ios')
            a(device-control-key='menu', title='{{"Menu"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-bars
            a(device-control-key='home', title='{{"Home"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-home
            a(device-control-key='app_switch', title='{{"App switch"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-square-o
            a(device-control-key='back', title='{{"Back"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-mail-reply
          .btn-group.btn-group-justified(ng-if='device.ios')
            a(device-control-key='home', title='{{"Home"|translate}}', ng-click="goHome()").btn.btn-primary.btn-lg.no-transition
              i.fa.fa-bars
