:root {
  /* z-index */
  --header-z-index: 99;
  --table-z-index: 50;
  --screen-input-z-index: 10;

  /* Colors */
  --light-gray: #cfcfcf;
  --slider-mark-outline: #828282;
  --slider-mark-background: #e2e3e6;
  --finger-background: #7c7c7c;
  --finger-border-color: #464646;
  --table-row-separator-color: #414141;
  --info-block-color: rgb(0 119 255 / 20%);
}
