.buttonsContainer {
  display: flex;
  align-items: center;

  &:not(:first-of-type) {
    margin-top: 8px;
  }

  .buttonTooltip:not(:first-of-type) {
    margin-left: 8px;
  }
}

.lineThrough {
  text-decoration: line-through;
}
